# Build/ROS2
build/
install/
log/
.colcon/
.ros/

# VS Code
.vscode/
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/extensions.json

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python
__pycache__/
*.pyc

# Project-specific
src/.vscode/
src/.vscode/*.db
src/aries.zip
