# ROS 2 / colcon
build/
install/
log/
.colcon/
.ros/

# VS Code
.vscode/
src/.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python
__pycache__/
*.pyc

# Project-specific big stuff
src/.vscode/*.db
src/aries.zip
